body {
    background-color: #fff;
}

.check-is-break {
  margin-left: 4px;
}

.wrap {
    border-radius: 5%;
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 4px;
}

.input-chapter {
    width: 100%;
}

.input-character {
    width: 100%;
}

.input-message {
    width: 100%;
}

.main {
    margin-top: 10%;
}

.add {
    text-align: center;
}

.settings {
    margin-top: 4%;
    margin-bottom: 4px;
}

.settings-btn {
    margin-left: 2%;
}

#name-history {
    width:100%;
}

#category-history {
    width: 100%;
}

.character-input {
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 4px;
    border: 1px solid #c6f5f0;
}

.next {
    margin-top: 4px;
    text-align: end;
}

.chapter {
    border: 1px solid #bbb;
    padding: 7px;
    margin: 7px;
}

.color-picker {
  position: relative;
}

.color-picker__overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  background: black;
  z-index: 0;
  opacity: 0;
}

.color-picker__flyout {
  width: 240px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  position: absolute;
  bottom: -170px;
  left: -100px;
  z-index: 2;
}

.color-picker__inner {
  padding: 1.5rem 1rem;
}

.color-chip {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px 4px 0 0;
}

.color-chip__inner {
  text-align: center;
}

.color-chip__subtitle {
  margin-top: 0.5rem;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.color-chip__title {
  color: white;
  margin: 0;
  font-size: 50px;
  letter-spacing: 4px;
  font-family: Helvetica Neue;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.control {
  width: 100%;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.control + .control {
  margin-top: 1rem;
}

.control input {
  width: 100%;
  margin: 0;
}

.control input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.control input[type=range]:focus {
  outline: none;
}

.control input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.control input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  margin-top: -4px;
}

.swatch {
  width: 24px;
  height: 24px;
  margin: 1rem auto 0 auto;
  border: 4px solid white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.swatch:hover {
  border: 4px solid white;
  opacity: 0.8;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.pop-enter-active,
.pop-leave-active {
  transition: transform .5s, opacity .5s;
  transition-timing-function: cubic-bezier(.8, .3, 0.25, 1.75);
  transform: scale(1);
}

.pop-enter,
.pop-leave-active {
  opacity: 0;
  transform: scale(0);
}

.break-checkbox {
  margin-left: 13px;
}

.attached-type {
  margin-left: 13px;
}

.checkers { 
  width: 75%;
  margin-top: 13px;
  margin-left: 15px;
}

.chapter-background {
  margin-top: 13px;
}

.attached-input {
  margin-top: 13px;
  margin-left: 15px;
}

.images {
  max-height: 350px;
  max-width: 350px;
}