{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create story</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/vue-resource.js' %}"></script>
</head>
<body>
    <div class="container" id="app">
        
        <div v-if="state == 'name_story'" class="main">
            <div class="col-12">
                    <h2>Создать историю</h2>
                    <p style="color:red" v-if="name_error">
                        Имя истории не должно быть пустым
                    </p>
                    <input class="form-control" type="text" autofocus placeholder="Имя истории" id="name-history" :v-model="story.name"> <br>
                    <br>
                    <h2>Категория</h2>
                    <select id="category-history" class="form-control">
                        {% for cat in categories %}
                            <option value="{{ cat.name }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <h2>Добавить preview</h2>
                    <br>
                    <input type="file" class="form-control-file" @change="attach_preview" ref="attachedPreview">
                    <p style="display:none" v-text="base64_preview" class="base64_attached" id="base64_preview_text"></p>
                    <br>
                    <div class="next">
                        <button class="btn btn-success" @click="name_story_next">Далее</button>
                    </div>
            </div>
        </div>

        
        <div v-if="state == 'create_characters'" class="main">
            <div class="col-12">
                <h1>Создать персонажей</h1>
                <div class="characters">
                    <character v-for="n in counter_characters" :index="n"></character>
                </div>
                <div class="add">
                    <button type="button" class="btn add-btn" @click="counter_characters+=1"><img src="{% static 'img/plus-circle.svg' %}"></button>
                </div>
                <div class="row justify-content-between">
                    <div class="col-1 back">
                        <button class="btn btn-success" @click="character_back">Назад</button>
                    </div>
                    <div class="col-1 next">
                        <button class="btn btn-success" @click="character_next">Далее</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="state == 'create_chapters'" class="main">
            <h1>Создание глав</h1>
            <div id="chapters">
                <chapter v-for="c in counter_chapters" :index="c"></chapter>
            </div>
            <div class="row justify-content-between">
                <div class="col-1 back">
                    <button class="btn btn-success" @click="messages_back">Назад</button>
                </div>
                <div class="col-6 next">
                    <button class="btn btn-success" @click="counter_chapters+=1">Создать новую главу</button>
                    <button class="btn btn-success" @click="done">Готово</button>
                </div>
            </div>
        </div>
        <div v-if="state == 'done'" class="main">
            <h1>Готово</h1>
            <h4>Запрос</h4>
            <p v-text="JSON.stringify(story)"></p>
            <h4>Ответ сервера</h4>
            <p v-text='response'></p>
        </div>
    </div>
    <script type='x-template' id='character-input'>
        <div class="row character-input">
            <div class="col-9">
                <input type="text" placeholder="Герой" autofocus class="input-character form-control" :value="character">
            </div>
            <div class="col-1">
                <button type="button" class="btn" @click="delete_character"><img src="{% static 'img/trash-2.svg' %}" alt=""></button>
            </div>
            <div class="col-1">
                <color-picker :change="select_color" :h_="hsl.h" :s_="hsl.s" :l_="hsl.l"></color-picker>
            </div>
        </div>
    </script>
    <script type='x-template' id='message'>
        <div class="wrap" :style="style">
            <div class="message row">
                <h6 v-text="character_name"></h6>
                <p v-text="checked" style="display: none"></p>
                <div class="col-6">
                    <input type="text" placeholder="Слова рассказчика" autofocus class="input-character form-control" v-model="text">
                </div>
                <button class="btn" @click="toggle_attaching"><img src="{% static 'img/paperclip.svg' %}"></button>
                <character-button v-for="i in characters" :character_id="i" :color="i"></character-button>
                <button type="button" class="btn settings-btn" @click="delete_message"><img src="{% static 'img/trash-2.svg' %}" alt=""></button>
                <label class="checkbox-inline break-checkbox"><input type="checkbox" v-model="checked">Ожидать 30 минут?</label>
            </div>
            <div class="row" v-if="attaching">
                <input type="file" class="form-control-file attached-input" @change="attach" ref="attachedFiles">
                <p style="display:none" v-text="base64_attached" class="base64_attached"></p>
                <select class="form-control checkers">
                    <option value="PH">Фото</option>
                    <option value="VD">Видео</option>
                    <option value="CL">Звонок</option>
                    <option value="FC">Фэйстайм звонок</option>
                </select>
            </div>
        </div>
    </script>
    <script type='x-template' id='character-button'>
        <button type="button" class="btn settings-btn" @click="change_character" :style="background_color"><img src="{% static 'img/user.svg' %}" alt=""></button>
    </script>
    <script type='x-template' id='chapter'>
        <div class="chapter" :id="index">
            <div class="col-12">
                <div class="chapter-name">
                    <div class="row justify-content-between"> 
                        <div class="col-3">
                            <h3>Название главы</h3>
                        </div>
                        <div class="col-1">
                            <button class="btn" @click="delete_chapter"><img src="{% static 'img/trash-2.svg' %}"></button>
                        </div>
                    </div>
                    <input type="text" placeholder="Глава" autofocus class="input-chapter form-control" v-model="chapter_name">
                </div>
                <div class="chapter-background">
                    <h3>Фон главы</h3>
                    <input type="file" class="form-control-file" @change="uploadBackgroundImage" ref="backgroundImage">
                    <p style="display:none" v-text="base64_background_image" class="base64-background-image"></p>
                </div>
            </div>
            <div class="col-12">
                <h3 style="margin-top:3%">Сообщения</h3>

                <div class="messages">
                    <message v-for="n in counter_messages" :index="n"></message>
                </div>
                <div class="add">
                    <button type="button" class="btn" @click="counter_messages+=1"><img src="{% static 'img/plus-circle.svg' %}"></button>
                </div>
            </div>
        </div>
    </script>
    <script type="x-template" id="color-picker">
        <div class="color-picker">
            <div class="color-picker__overlay" v-if="isVisible" v-on:click="hide"></div>
            <transition name="pop">
                <div class="color-picker__flyout" v-if="isVisible">
                <div class="color-chip" v-bind:style="{'background': color}">
                <div class="color-chip__inner">
                    <h3 class="color-chip__subtitle">{{ colorString }}</h3>
                </div>
                </div>
                <div class="color-picker__inner">
                <div class="control" v-bind:style="gradientH">
                    <input type="range" min="0" max="360" v-model="h" />
                </div>
                <div class="control" v-bind:style="gradientS">
                    <input type="range" min="0" max="100" v-model="s" />
                </div>
                <div class="control" v-bind:style="gradientL">
                    <input type="range" min="0" max="100" v-model="l" />
                </div>
                </div>
            </div>
            </transition>
            <button class="btn" :style="{'background': color}" @click="toggle"><img src="{% static 'img/droplet.svg'%}"></img></button>
            
        </div>
    </script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/create_story.js' %}"></script>
</body>
</html>